@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;1,100&family=Nunito+Sans:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.img {
  position: absolute;
  top: 0;
  height: 5em;
  width: 1500px;
  left: 0;
  box-shadow: 5px 10px #888888;
  border: 1px solid rgb(136, 118, 118);


}

.img-2 {
  position: absolute;
  top: 0em;
  left: 0em;
  height: 20em;

}

.border {
  font-family: 'Ubuntu', sans-serif;
  color: grey;
  width: 23em;
  height: 60em;
  padding: 50px;
  border: 1px solid rgba(97, 91, 91, 0.439);
  box-sizing: border-box;
  box-shadow: 5px 5px #5e5b5b;
  position: absolute;
  left: 2em;
  top: 7em;
  border-radius: 2em;
}

.border-2 {
  width: 70em;
  height: 28em;
  padding: 50px;
  border: 1px solid rgba(97, 91, 91, 0.439);
  box-sizing: border-box;
  box-shadow: 5px 5px #5e5b5b;
  position: absolute;
  left: 28em;
  top: 39em;
  border-radius: 2em;

}

.border-1 {
  width: 70em;
  height: 30em;
  padding: 20px;
  border: 1px solid rgba(97, 91, 91, 0.439);
  box-sizing: border-box;
  box-shadow: 5px 5px #5e5b5b;
  position: absolute;
  left: 28em;
  top: 7em;
  border-radius: 2em;

}


.h {
  color: aliceblue;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  position: absolute;
  left: 5%;

}

.top-color {
  position: absolute;
  background-color: rgb(65, 67, 63);
  top: 0;
  height: 6em;
  margin: 0;
  padding: 0;
  border-color: slateblue;
  width: 100em;
  left: 0;
}

.logo {
  position: absolute;
  left: 0.9em;
  top: 1.5em;

}


.bar {
  font-family: 'Ubuntu', sans-serif;
  color: aliceblue;
  position: absolute;
  list-style: none;
  display: flex;
  font-size: 18px;
  right: 5em;
  top: 1.6em;

}

.nav-item {
  padding: 12px 20px;
}


.move {
  top: 1.5em;
}

.head {
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  top: 7em;
  left: 45%;
}

.loc {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 16em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;
}

.loc-1 {

  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 15em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;

}

.loc-3 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 19em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;

}

.loc-4 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 20em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;
}

.loc-5 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 23em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;
}

.loc-6 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 24em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;
}

.loc-7 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 27em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;
}

.loc-8 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 28em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;
}

.dropbtn {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(65, 67, 63);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 16em;
  left: 0em;
}

.dropbtn:hover,
.dropbtn:focus {
  font-family: 'Ubuntu', sans-serif;

  background-color: rgb(65, 67, 63);
}

.dropdown {
  font-family: 'Ubuntu', sans-serif;

  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-family: 'Ubuntu', sans-serif;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.loc-9 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 31em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;

}

.topnav {
  overflow: hidden;
  background-color: rgb(65, 67, 63);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(65, 67, 63);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.loc-10 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 15em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;

}

.loc-11 {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  position: absolute;
  top: 35em;
  font-size: 1.5em;
  align-items: center;
  left: 2.5em;
  background-color: rgb(65, 67, 63);
  height: 2em;
  width: 10.5em;


}

.button:active {

  background-color: #bbb;

}

* {
  box-sizing: border-box
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 45em;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

table {
  width: 100%;
  height: 18em;
  border-collapse: collapse;
  font-family: 'Ubuntu', sans-serif;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: 'Ubuntu', sans-serif;
}

th {
  background-color: #f2f2f2;
  font-family: 'Ubuntu', sans-serif;
}

tbody tr:hover {
  background-color: #f9f9f9;

}

.loc-12 {

  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3em;
}

.loc-13 {

  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3em;
  top: 0;
}

.but2 {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.but2:active {
  background-color: #bbb;
}

.loc-0 {
  font-family: 'Poppins', sans-serif;
  color: black;
  position: absolute;
  top: 2em;
  font-size: 5em;
  align-items: center;
  left: 1.5em;

}

.loc-01 {
  font-family: 'Poppins', sans-serif;
  color: black;
  position: absolute;
  top: 6em;
  font-size: 3em;
  align-items: center;
  left: 2.5em;
}

.loc-02 {
  font-family: 'Poppins', sans-serif;
  color: black;
  position: absolute;
  top: 16em;
  font-size: 3em;
  align-items: center;
  left: 4em;

}

.loc-05 {
  font-family: 'Poppins', sans-serif;
  color: black;
  position: absolute;
  top: 11.5em;
  font-size: 2em;
  align-items: center;
  left: 3.9em;
}

.button3 {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 4px;
  background-color: rgb(65, 67, 63);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 2.8em;
  border-radius: 4em;
}

.button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button3:hover span {
  padding-right: 25px;
}

.button3:hover span:after {
  opacity: 1;
  right: 0;
}

.button3:active {
  background-color: gray;
}

fieldset {
  position: absolute;
  top: 10em;
  left: 5em;
  right: 5em;
  font-family: 'Ubuntu', sans-serif;
  color: grey;
  width: 30em;
  height: 43em;
  padding: 50px;
  border: 1px solid rgba(97, 91, 91, 0.439);
  box-sizing: border-box;
  box-shadow: 5px 5px #5e5b5b;
  border-radius: 2em;
  border-color: grey;
  opacity: 0.9;
  background-color: white;
}

.fname {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;

}

.mess {
  width: 100em;
  height: 14em;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}


.submit-reset {
  width: 10em;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid rgb(65, 67, 63);
  background-color: rgb(65, 67, 63);
  border-radius: 2em;
  outline: none;
  left: 5em;
  color: white;

}

.move1 {
  position: absolute;
  left: 40%;
}

.move2 {
  position: absolute;
  left: 50%;
}

.submit-reset:active {
  background-color: grey;
}


* {
  box-sizing: border-box
}

.container {
  width: 40%;
  background-color: #ddd;
  border-radius: 2em;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

}

.html {
  width: 80%;
  background-color: #808080;
  border-radius: 2em;
  text-align: center;
}

.css {
  width: 80%;
  background-color: #808080;
  border-radius: 2em;
  text-align: center;
}

.js {
  width: 80%;
  background-color: #808080;
  border-radius: 2em;
  text-align: center;
}

.php {
  width: 70%;
  background-color: #808080;
  border-radius: 2em;
  text-align: center
}


.dist {
  position: absolute;
  top: 8em;
  left: 13px;
  width: 60em;

}

.loc-84 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  position: absolute;
  top: 18em;
  left: 16em;
  text-decoration: solid;
}

.loc-82 {
  font-family: 'Poppins', sans-serif;
  color: black;
  position: absolute;
  top: 45em;
  left: 10em;
  width: 100em;
  height: 200em;

}

.loc-83 {
  font-family: 'Poppins', sans-serif;
  color: black;
  position: absolute;
  top: 69em;
  left: 10em;
  width: 100em;
  height: 200em;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

HR {
  position: absolute;
  width: 95em;
}

.L {
  position: absolute;
  width: 95em;
  top: 90em;
  left: 2em;
}